DocumentQuality/test_report_4.pdf
DocumentQuality/1591 kolhapur QCR.pdf
DocumentQuality/QualityAssess.h5
DocumentQuality/xgboost_tester.py
DocumentQuality/xgboost_trainer.py
DocumentQuality/dataset.csv
DocumentQuality/v0_quality_api.py
DocumentQuality/doc-check
DocumentQuality/test
DocumentQuality/web_quality_model